
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section head {

    <style>
        body {
            background-image: url(../../Images/Patterns/bg_pt.png);
            background-repeat: repeat;
        }
    </style>
}

<h2>Employees List</h2>

<table id="dataGrid" class="table table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>E-mail</th>
            <th>Gender</th>
            <th>Birth Date</th>
            <th>Role</th>
            <th>Dependents Amount</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody></tbody>
    <tfoot>
        @*<tr>
                <td colspan="3"> Employees amount: <span id="employeesAmount"></span> </td>
            </tr>*@
    </tfoot>
</table>


<script type="text/javascript">

        $(document).ready(function () {
            $.ajax({
                type: "GET",
                url: "http://localhost:53343/api/employee/getAll",
                success: function (data) {                

                    //var x = { data };

                    ////alert(JSON.parse(x));

                    //$('#dataGrid').DataTable({

                    //    "ajax": x,

                    //    "columns": [
                    //        { "data": "Id" },
                    //        { "data": "Name" },
                    //        { "data": "Email" },
                    //        { "data": "Gender" },
                    //        { "data": "BirthDate" },
                    //        { "data": "RoleType" },
                    //        { "data": "DependentsQuantity" },
                    //    ]
                    //}
                    //)

                    var content = "";
                    $("#dataGrid tbody").empty();

                    for (var i = 0; i < data.length; i++) {

                        content += "<tr>";
                        content += "<td>" + data[i].Id + "</td>";
                        content += "<td>" + data[i].Name + "</td>";
                        content += "<td>" + data[i].Email + "</td>";
                        content += "<td>" + data[i].Gender + "</td>";
                        content += "<td>" + data[i].BirthDate + "</td>";
                        content += "<td>" + data[i].RoleType + "</td>";
                        content += "<td>" + data[i].DependentsQuantity + "</td>";
                        content += "<td>" + '<button class="btn btn-primary btn-sm" onClick="editEmployee(\'' + data[i].Id + '\');">'
                                          +     '<span class="glyphicon glyphicon-pencil"></span>'
                                          + '</button>&nbsp;'
                                          + '<button class="btn btn-danger btn-sm" onClick="deleteEmployee(\''+ data[i].Id + '\');">'
                                          +     '<span class="glyphicon glyphicon-trash"></span>'
                                          + '</button>' + "</td>";
                        content += "</tr>";
                    }

                    $("#dataGrid").append(content);
                },
                error: function (e) {
                    $("#message").html("Error: " + e.status);
                }
            });
        });

        function deleteEmployee(id) {
            $.ajax({
                type: "DELETE",
                url: "http://localhost:53343/api/employee/delete/" + id,
                success: function (data) {
                    location.reload(); //change it to ajax request
                },
                error: function (e) {
                    $("#message").html("Error: " + e.status);
                }
            });
        }

        function editEmployee(id) {
            window.location = "Edit?id=" + id;
        }

</script>